body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}

input {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}

thead {
	background-color: blue;
	color: white;
	font-weight: bold;
}