table.grid {
	border: thin;
	border-style: solid;
	border-color: #AAAAAA;
	border-collapse: separate;
}

tr.rowOdd {
	background-color: #F0F0FF;
}

tr.rowEven {
	background-color: #E0E0FF;
}

tbody.selectable tr:HOVER {
	background-color: #BBBBDD;
	cursor: hand; cursor: pointer;
}

table.grid td {
	padding-left:5px;
	padding-right:5px;
}