body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}

.tdLabel {
	text-align: right;
	vertical-align: middle;
}

.label {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
	font-style: normal;
}

.errorMessage {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
	color: red;
	font-weight: normal;
}

input {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}

table.grid {
	border: thin;
	border-style: solid;
	border-color: #AAAAAA;
}

tr.rowHeader {
	background-color: blue;
	color: white;
	font-weight: bold;
}

tr.rowOdd {
	background-color: #F0F0FF;
}

tr.rowEven {
	background-color: #E0E0FF;
}

.tablePopop .ui-dialog-titlebar {
	display: none;
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}

.ui-widget {
    font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
}